@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Medium.woff2') format('woff2'),
        url('../fonts/Exo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Regular.woff2') format('woff2'),
        url('../fonts/Exo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Regular-Italic.woff2') format('woff2'),
        url('../fonts/Exo-Regular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Thin.woff2') format('woff2'),
        url('../fonts/Exo-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

body {
    background: #f6f5f3;;
    width: 100%;
    font-family: "Exo";
    
}
.section-name {
    text-align: center;
    padding-top: 15px;
    line-height: 40px;

}
.section-name .title {
    font-size: 14px;
    color: #ff6d6d;
    font-weight: 500;
    text-transform: uppercase;
}
.section-name .text {
    font-size: 25px;
    color: #282828;
    font-weight: 500;
}
.header {
    width: 100%;
    height: 50px;
}
.header .content {
    display: none;
}
.header .menu {
    width: 100%;
    height: 50px;
    background: #fb8686;
    color: #ffffff;
    text-align: center;
}
.header .menu .link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 40px;
    margin-top: -20px;
}
.header .menu .link:before,
.header .menu .link:after {
    content: "^^";
    font-size: 70px;
    transform: rotate(180deg);
    display: inline-block;

}
.header .nav-menu {

    display: none;
    width: 50%;
    text-align: center;
    position: absolute;
    left: 25%;
}
.header .nav-menu .menu-list {
  
}
.header .nav-menu .item {
    background: #ececec;
    border: 2px solid #fb8686;
}
.header .nav-menu .menu-list .link {
    color: #282828;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 0;
    width: 100%;
    display: block;
}
.header .nav-menu .menu-list .link:hover {
    color: #fff;
    background: #fb8686;
}
.header .menu:hover + .nav-menu {
    display: block;
    
}
.wrapper {
    height: 100%;

}


.block-description .content .section-name {
    text-align: left;
    padding-left: 25px;
}
.block-description .content .section-name .text:after {
    content: "....";
    padding-left: 10px;
    color: #ff6d6d;

}
.block-description .content .description {
    padding: 25px;

}
.block-description .content .description .text {
    font-size: 12px;
    font-weight: 500;
    color: #858584;
    padding-top: 25px;
    line-height: 20px;
}
.block-description .background {
    display: none;
   
}
.services-block {
    }
.services-block .services-list {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
}
.services-block .services-list .item {
    margin-bottom: 15px;
    line-height: 20px;
}
.services-block .services-list .item .icon {
    display: block;
    float: left;
    margin-right: 15px;
}
.services-block .services-list .item .title {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
}
.services-block .services-list .item .description {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #858584;
}
.user-info {
    display: none;
}
.clients-block {
    display: block;
    background-image: url(../images/foto3.jpg);
    background-size: 100%;
    padding: 25px;
}
.clients-block .reviews {
    display: block;

}
.clients-block .reviews .review {
   margin-bottom: 20px;
}

.clients-block .reviews .review .photo {
    width: 55px;
    height: 55px;
    border: 2px solid #1d1e24;
    background: #4e4e5e;
    margin-right: 15px;
    display: inline-block;
    float: left;


}
.clients-block .reviews .review .author {
    font-size: 16px;
    color: #fff;
    display: inline-block;

}
.clients-block .reviews .review .position {
    font-size: 12px;
    color: #ff6d6d;
    display: inline-block;

}
.clients-block .reviews .review .text {
    font-size: 12px;
    font-style: italic;
    color: #fff;
    text-align: right;
    line-height: 20px;
    padding-top: 15px;

}
.clients-block .reviews .review .text:before {
    content: "“";

}
.clients-block .reviews .review .text:after {
    content: "”";
    
}
.clients-block .brands {
    display: none;
    
}
.clients-block .brands .brands-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.clients-block .brands .brands-list .item .photo {
    height: 50%;
    opacity: 0.3;
}
.browser {
    display: none;
}
.registration-block {
    padding: 15px;
    background: #323969;

}
.registration-block .section-name  {
    display: none;
}

.registration-block .text-info {
    display: none;
}
.registration-block .form-subscribe {

}
.registration-block .form-subscribe .label {
    padding: 5px 15px;
    width: 90%;
    background: #464c77;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
}
.registration-block .form-subscribe .button {
    padding: 6px 20px;
    background: #ff6d6d;
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #000;
    cursor: pointer;
}
.registration-block .description {
    text-align: left;
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
}
.registration-block .description .link {
    text-decoration: underline;
    color: #fff;

}
.footer-block {
    padding: 20px;
    display: flex;
    justify-content: space-between;

}
.footer-block .data {
    width: 230px;
   
}
.footer-block .data .link-logo {
    font-size: 22px;
    color: #2c2f49;
    text-decoration: none;

}
.footer-block .data .link-logo .logo {
    background: url(../images/play2.png);
    color: #fff;
    padding: 13px 10px 13px 0;
    background-size: 43px;
    background-repeat: no-repeat;
}
.footer-block .data .description {
    margin-top: 15px;
    color: #9e9e9e;
    font-size: 14px;
    line-height: 20px;
}
.footer-block .data .description .telephone {
    display: block;
}
.footer-block .data .description .telephone .link {
    color: #9e9e9e;
    text-decoration: none;
}

.footer-block .suppot,
.footer-block .info-block {
   display: none;
}
.footer-block .form-letter {
    margin: 15px 0 20px;
    display: flex;
}
.footer-block .formL-ltter .label {
    font-size: 16px;
    line-height: 32px;
    text-transform: uppercase;
    padding-left: 25px;
    background: #f6f6f6;
    border: 2px solid #cbcbcb;
    border-radius: 3px;
}
.footer-block .form-letter .button {
    background: #ff6d6d;
    background-image: url(../images/flying.png);
    background-repeat: no-repeat;
    margin-left: -6px;
    line-height: 32px;
    padding-right: 32px;
    background-position: center;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 10px #c3c3c3;
}
.footer-block .connection .social-list {
    padding-right: 35px;
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 800px) {
    
    .section-name .title {
    font-size: 14px;
    }
    .section-name .text {
        font-size: 30px;
        
    }
    .header {
        height: 100%;
        background: #fb8686;
    }
    .header .menu {
        display: none;
    }
    .header .nav-menu {
        display: block;
        width: 100%;
        position: static;
        padding-top: 40px;
    }
    .header .nav-menu .menu-list {
        display: flex;

    }
    .header .nav-menu .menu-list .item {
        width: 25%;
    }
    .header .nav-menu .menu-list .link {
        color: #282828;
        text-decoration: none;
    }
    .header .nav-menu .menu-list .link:hover {
        color: #fff;
        background: #fb8686;
    }
    .block-description .content .description .text {
        font-size: 14px;
    }
    .services-block .services-list {
        padding: 20px 25px;
        display: flex;
        flex-direction: row;
    }
    .services-block .services-list .item {
        margin-bottom: 0;
        margin-right: 20px;
    }
    .services-block .services-list .item:last-of-type {
        margin-right: 0;
    }
    .services-block .services-list .item .icon {
        margin: 20px auto;
        float: none;
        

    }
    .services-block .services-list .item .title {
        font-size: 20px;
    }
    .services-block .services-list .item .description {
        font-size: 14px;
    }
    .clients-block {
        padding: 40px;
    }
    .clients-block .reviews .review {
        margin-bottom: 30px;
        text-align: center;
    }
    .clients-block .reviews .review .photo {
        display: block;
        margin: 0 auto;
        float: none;
    }
    .clients-block .reviews .review .author {
        display: block;
        margin: 10px 0;
    }
    .clients-block .reviews .review .text {
        padding: 15px 80px;
        text-align: center;
    }
    .clients-block .brands {
        display: block;
        margin-top: 40px;
    }
    .clients-block .brands .brands-list {
        justify-content: space-around;
    }
    .registratio-block{
        padding: 25px 20px 35px;
    }
    .registration-block .section-name  {
        display: block;
    }
    .registration-block .section-name .text {
        color: #fff;
    }
    .registration-block .section-name .text:after {
        content: "...";
        margin-left: 10px;
    }
    .registration-block .form-subscribe {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 25px 0;
    }
    .registration-block .form-subscribe .label {
        margin-bottom: 0;
        width: auto;
    }
    .registration-block .description {
        text-align: center;
        margin-top: 0;
    }

    .footer-block .suppot,
    .footer-block .info-block {
        display: block;
    }
    .footer-block .suppot .title,
    .footer-block .info-block .title,
    .footer-block .connection .letter .title {
        color: #282828;
        font-size: 22px;
        
    }
    .footer-block .suppot .list .item ,
    .footer-block .info-block .list .item {
        margin-top:  10px;
        text-align: left;
    }
    .footer-block .suppot .list .item .link,
    .footer-block .info-block .list .item .link {
        text-decoration: none;
        color: #9e9e9e;
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background: #fff;
    }
    .section-name .title {
        font-size: 16px;
    }
    .section-name .text {
        font-size: 40px;
        line-height: 50px;
        
    }
    .header {
        background: url(../images/foto1.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
    }   
    .header .content {
        display: block;
        text-align: center;
        padding: 50px 25% 145px;
    }
    .header .content .title {
        font-size: 60px;
        font-weight: 100;
       
        
    }
    .header .content .icon {
         display: block;
         margin: 25px auto;
         background-image: url(../images/play.png);
         width: 64px;
         height: 64px;
    }
    .header .content .icon:hover {
        background-image: url(../images/play-sign.png);
        
    }
    .header .content .button {
        display: block;
        background: #ff6d6d;
        width: 185px;
        margin: 0 auto;
        padding: 17px 0;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
    }
    .header .content .text-info {
        margin-top: 20px;
        font-size: 14px;
    }
    .header .content .text-info:before {
        content: "*";
        padding-right: 5px;
    }
    .header .nav-menu {
        display: none;
    }
    .block-description {
        display: flex;
        flex-direction: row;
    }
    .block-description .content {
        width: 50%;
        padding: 95px 75px 43px;
    }
    .block-description .background {
        display: block;
        background-image: linear-gradient(140deg , #ececec 60%, #fb8686 40% );
        background-repeat: no-repeat;
        width: 50%;
    }
    .services-block {
        height: 100%;
        background-image: url(../images/foto2.jpg);
        background-size: 100%;
        padding: 60px 85px 75px;
        background-repeat: no-repeat;
    }
    .services-block .services-list {
        margin-top: 40px;
        padding: 0;
    }
    .services-block .services-list .item {
        text-align: center;
    }
    .services-block .services-list .item .icon {
        margin: 0 auto;
    }
    .services-block .services-list .item .title {
        font-size: 20px;
        line-height: 30px;
        padding-top: 25px;
        padding-bottom: 20px;
    }
    .services-block .services-list .item .description {
        font-size: 16px;
        line-height: 26px;
        
    }
    .user-info {
        display: flex;
        background-image: linear-gradient(-145deg , #fff 60%, #fb8686 40% );
        padding: 50px 100px 50px 38px;
    }
    .user-info .photo {
        margin-right: 60px;
    }
    .user-info .info .section-name {
        text-align: left;
    }
    .user-info .info .section-name .text:after {
        content: "....";
        padding-left: 10px;
        color: #ff6d6d;
    }
    .user-info .info .description .text {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        margin-top: 20px;
        color: #858584;
    }
    .clients-block .reviews {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .browser {
        display: block;
        height: 100%;
   }
   .browser .info {
        padding: 55px 110px 0;
   }
   .browser .info .description {
        text-align: center;
   }
   .browser .info .description .text {
        font-size: 14px;
        line-height: 20px;
        margin: 20px 0 50px;
        color: #858584;
        padding: 0 30px;
   }
   .browser .photo {
        text-align: center;
   }
   .registration-block {
        padding: 45px 75px 45px;
   }
   .registration-block .text-info {
        display: block;
        font-size: 12px;
        text-align: right;
        color: #fff;
        margin: 20px 0 15px;
        padding-right: 20px;
    }
    .registration-block .text-info .arrow {
        transform: scale(1, -1);
        padding-right: 130px;
    }
    .registration-block .text-info .arrow .photo {
        transform: rotate(-55deg);
    }
    .registration-block .form-subscribe .label {
        padding: 7px 20px;
    }
    .registration-block .form-subscribe .button {
        padding: 8px 25px;
    }
    .footer-block {
        padding: 25px 30px;
    }
}

@media screen and (min-width: 1200px){
    .header .content {
       padding: 80px 25% 170px;
    }
    .header .content .title {
        font-size: 60px;
        line-height: 70px;
    }
    .block-description .content {
        width: 60%;
        padding: 190px 145px 150px;
    }
    .block-description .content .description .text {
        font-size: 16px;
        line-height: 26px;
    }
    .block-description .background {
        background-image: linear-gradient(130deg , #ececec 60%, #fb8686 40% );
        width: 40%;
    }
    .services-block {
        padding: 120px 140px;
    }
    .services-block .services-list {
        justify-content: space-between;
    }
    .services-block .services-list .item .title {
        font-size: 22px;
        line-height: 40px;
        padding: 0;
        margin-top: 10px;

    }
    .services-block .services-list .item .description {
        font-size: 16px;
        line-height: 26px;
    }
    .user-info {
        padding: 100px 170px 105px 70px;
        background-image: linear-gradient(-135deg , #fff 70%, #fb8686 30% );
    }
    .user-unfo .info .description .text {
        font-size: 16px;
        line-height: 26px;
        margin-top: 25px;
    }
    .clients-block {
        padding: 105px 145px 75px;
    }
    .clients-block .reviews {
        margin-bottom: 35px;
    }
    .clients-block .reviews .review {
        width: 335px;
    }
    .cliets-block  .reviews .review .photo {
        width: 77px;
        height: 77px;
    }
    .clients-block .reviews .review .author {
        font-size: 22px;
        margin-top: 30px;
    }
    .clients-block .reviews .review .position {
        font-size: 16px;
        line-height: 26px;

    }
    .clients-block .reviews .review .text {
        
        padding: 0 15px;
    }
    .clients-block .brands {
        margin-top: 0;
        
    }
    .clients-block .brands .brands-list .item .photo {
        height: 80%;
    }
    .browser {
       
    }
    .browser .info {
        padding: 105px 180px 0;
    }
    .browser .info .description .text {
        font-size: 16px;
        line-height: 26px;
        margin: 45px 0 105px;
        padding: 0 50px;
    }
    .registration-block {
        padding: 95px 145px 85px 135px;
    }
    .registration-block .text-info {
        font-size: 16px;
        margin: 45px 0 15px;
        padding-right: 80px;
    }
    .registration-block .text-info .arrow {
        margin-right: 45px;
    }
    .registration-block .form-subscribe {
        margin: 25px 0 50px;
    }
    .registration-block .form-subscribe .label {
        padding: 15px 25px;
    }
    .registration-block .form-subscribe .button {
        padding: 15px 95px;
    }
    .registration-block .form-subscribe .description {
        font-size: 16px;
    }
    .footer-block {
        padding: 90px 325px 85px 125px;
        background:  linear-gradient(30deg , #fff 75%, #fb8686 25% );
    }
}
@media screen and (min-width: 1440px){
    .header .content {
        padding: 140px 25% 220px;
    }
    .block-description .background {
        background-image: linear-gradient(135deg , #ececec 60%, #fb8686 40% );
    }
    .services-block {
      padding: 120px 160px 128px;
    }
    .services-block .services-list {
        padding-top: 50px;
    }
    .services-block .services-list .item {
        margin-right: 60px;
    }
    .services-block .services-list .item .title {
        margin: 20px 0 20px;
    }
    .user-info {
        padding: 60px 120px 60px 118px;
    }
    .clients-block {
        padding: 105px 175px 75px;
    }
    .browser .info {
        padding: 105px 370px 0;
    }
    .registration-block {
        padding: 95px 155px 85px 145px;
    }
    .registration-block .text-info {
        padding-right: 90px;
    }
    .registration-block .text-info .arrow {
        margin-right: 65px;
    }
    .registration-block .form-subscribe .label {
        padding: 20px 40px;
    }
    .registration-block .form-subscribe .button {
        padding: 20px 105px;
    }
    .footer-block {
        padding: 90px 355px 85px 155px;
    }
}
